{% extends './base.html' %}

{% block title %} 三和创赢 {% endblock %}

{% block content %}

<style>
    .position-relative{
        top: -250px;
    }
    .pill1{
        font-size: 1.1em;
        color: red;
        font-weight: 400;
    }
    .pill2{
        font-size: 0.9em;
        color: red;
        font-weight: 400;
    }
    .top-right1 {
        position: absolute;
        top: 180px;
        right: -10px;
    }
    .top-right2 {
        position: absolute;
        top: 210px;
        right: -10px;
    }
    .padtitle {
        padding-bottom: 30px;
        color:#495057;
        font-weight: 450;
    }
    .containerT1 {
        padding: 40px 15px;
    }
    .containerT2 {
        margin-top: -20px;
        padding: 0px 15px;
    }
    .containerT3 {
        margin-top: 20px;
        padding: 50px 15px;
    }
    .table{
        border-bottom: 1px solid #dddddd;
    }
    .decreasepad_nestcell{
        margin-bottom: 0px;
        margin-top: -5px;
        font-size: small;
        color: #6c757d;
    }
    .increasefont_firstrow{
        font-size: 20px;
        font-weight: 400;
    }
    .increasefont_cell{
        font-size: 20px;
        color: #495057;
    }
    .decreasefont_caption{
        font-size: 12px;
    }
    .incerasepad_T1column2{
        margin-right: 2.5em;
    }
    .decreasefont_captionT3{
        font-size: 15px;
        font-weight: 400;
    }
    .T3{
        font-size: 18px;
        color: #495057;
    }
    .increasepad_T3{
        padding-left: 0.5em ;
    }
    @media screen and (min-width: 1000px){
    .increasepad_T3{
        padding-left: 10%;
        padding-right: 10%;
    }
}

</style>

<body>

    <div>
    <!--IMAGE-->
    {% load static %}
    <img src="{% static './assets/default.jpg' %}"  style="width:100%" class="img-fluid">
        
    <div class="position-relative">
    <!--投资周报-->
    <p class="badge badge-pill badge-light pill1 top-right1" contenteditable="true">&nbsp;&nbsp;投资周报&nbsp;&nbsp;</p>
    <p class="badge badge-pill badge-light pill2 top-right2" contenteditable="true">&nbsp;&nbsp;&nbsp;&nbsp;2021.7.23&nbsp;&nbsp;</p>
    </div>

    </div>

    <!-----------------------------PARAGRAPH----------------------------------->
    <div class="containerT3">
        <h3 class="text-center padtitle" contenteditable="true">说明书</h3>
        <div class="increasepad_T3 text-justify">
        <p class="T3" contenteditable="true">
            产品主页面为 http: .../products <br>
            产品各页面为 http: .../products/zhantou1 <br>
            产品各页面为 http: .../products/taishan1 <br>
            产品各页面为 http: .../products/xiangjun1 <br>
            产品各页面为 http: .../products/gaohua1 <br>
            产品各页面为 http: .../products/xinshidai8 <br>
        </p>         

        </div>
    </div>
</body>

<script>

    
    //end of reading csv

    //load data from online

</script>


{% endblock %} 