近期市场最大的特点，大家都看号的公司都非常贵，没法下手，估值低的公司总有一些不看好的理由。
<br>
<br>
这样的市场状态已经持续了一段时间，从长期视角来看虽然市场中的高估值热门板块反复活跃赚钱效应较强，但估值水平已经透支了三年升值五年后的成长，而一些估值相对合理，竞争格局和成长性较好的冷门品种，逐渐体现出投资价值。
<br>
<br>
一直以来，我们重点关注的方向主要是品牌消费、先进制造、新兴科技领域，以半导体为代表的科技和以新能源为代表的制造已经进入了享受泡沫的阶段，而品牌消费在今年表现持续低迷，后续我么你将进一步加强对消费品行业的跟踪和筛选。
<br>
<br>
消费股今年表现欠佳主要有几点原因：
<br>
<br>
1）随着经济体谅变大，社会消费品零售总额的增速会趋缓，很正常的规律。
<br>
2）疫情的影响使长期稳定的消费增速出现较大波动，基数紊乱，但疫情影响的编辑效益在持续衰减。
<br>
3）消费板块经理了前几年的戴维斯双击，短期趁势消化估值。
<br>
4）消费喜欢的变化、销售渠道的变革，例如社区团购、懒人经济的兴起或给品牌带来新的挑战。
<br>
<br>
我们队当前消费板块的低迷持“乐观”态度，一方面，消费领域依然存在许多高景气度的戏份赛道，新型消费层出不穷；另一方面，对于相对成熟的领域，疫情影响或行业变革队头部品牌起到了强化作用，行业集中度提升带来的收益将不亚于新兴领域。
<br>
<br>
过去投资消费靠的是行业增长的红利，未来行业增长红利逐渐消退，对于赛道和公司的选择将会更加严苛。
